* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  /* max-width: fit-content; */
  margin: 0 auto;
}

.title {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #333;
  color: aliceblue;
}

.input_holder {
  display: flex;
  gap: 20px;
  justify-content: center;
}

input,
button {
  padding: 10px;
}

button{
background-color: rgb(83, 165, 83);
font-weight: bold;
}

ul {
  max-width: 100%;
  list-style: none;
  margin-top: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  gap: 20px;
}

.icon_holder {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
}
